<%- include ('../includes/head.ejs') %>

<body>
    <header class = "main-header">
        <%- include ('../includes/navigation.ejs') %>
    </header>
    <main>
        <h1>This is shop>cart.ejs</h1>
    </main>
<%- include ('../includes/end.ejs') %>